*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mobile-menu {
    transition: top 0.5s ease;
    transition: block 0.5s ease 0.5s;
    transition: hidden 0.5s ease 0.5s;
}

#mobile-menu-items {
    transition: top 0.5s ease;
}

#menu-cta {
    transition: border 0.25s ease;
}

.hero-content {
    height: 100vh;
    display: grid;
    grid-template-rows: 1.5fr 5em 2.5fr;
}

.bg-hero-img {
    background-size: cover;
    background-position: 70%;
}

.bg-story-img {
    background-size: cover;
    width: 100%;
}

.character-img-overlay {
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,0.5476718403547671) 0%, rgba(255,0,229,0.2505543237250555) 100%);
}